.actions {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.modal-header {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.modal-body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.5rem;
}

dialog:not([open]) {
    display: none;
}
