:root {
    --color-fondo-dos: rgba(219, 209, 209, 0.95);
    --color-letra-error: red ;
    --color-fondo-drak: --color-neutral-105;
} 
body {
    background-color: var(--color-fondo-dos);  
}
body.theme-dark {
    background-color: var(--color-fondo-drak);  
}
#contenido {
    
    display: flex;
    flex-wrap: wrap;   
    gap: 20px;                 
    justify-content: center;   
    align-items: center ;   
    min-height: 95vh;
    padding-bottom: 80px;

}
p.MensajeError {
    color: var(--color-letra-error);
    display: inline;
}
#logos {
    height: 10%;
    position: fixed;
    bottom: 0;          
    left: 0;        
    width: 100%;        
    display: flex;      
    justify-content: center; 
    gap: 20px;          
}
#logos span {
    font-size: 30px;   
}

#sticker {
    font-size: 80px;
}

.frace {
    width: 600px;            
    padding: 20px;
    border-radius: 8px;
}
.frace .titulo h1 {
    font-size: 58px;
}
.frace .parrafo {
    height: 10%;
    width: 100%; 
    
}
.card {
    flex: 1 1 450px;           
    max-width: 350px;         
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    

}
#boton-tema {
    position: absolute;   
    top: 0;               
    left: 10px;
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    padding: 0px 10px 0px 10px;
}
