
:root {
    --color-fondo-dos: rgba(191, 175, 175, 0.95);
    --color-letra-error: red ;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
}
#boton-atras {
    position: absolute;   
    top: 0;               
    left: 0;
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    padding: 0px 7px 0px 7px;
    /* color: #444444 */
}
#boton-tema {
    position: absolute;   
    top: 0;               
    left: 75px;
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    padding: 0px 10px 0px 10px;
}

#mensajeBotonRegistro {
    text-align: center;
}
p.MensajeError {
    color: var(--color-letra-error);
    display: inline;
}
.card {
    width: 60%;
    max-width: 450px;
}