.snippet {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.info {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
}

.badge {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    transition: opacity 200ms ease-in;
    border: 1px solid hsl(var(--color-border));
    padding-inline: 0.5rem;
    border-radius: 0.25rem;
    background-color: hsl(var(--color-neutral-90));

    &:hover {
        opacity: 0.8;
    }
}

.code-wrapper {
    border: 1px solid hsl(var(--color-border));
    border-radius: 0.25rem;

    & > pre {
        padding: 0.75rem;
    }
}
