
:root {
    --color-fondo-dos: rgba(191, 175, 175, 0.95);
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-image:url(fondo.jpg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    
    background-attachment: fixed;
}
#boton-atras {
    padding: 0px 7px 0px 0px;
    position: fixed;   
    top: 7px;        
    left: 12px;        
    z-index: 10;
    background-color: var(--color-fondo-dos) !important;

}

.card {
    width: 100%;
    max-width: 450px;
    background-color: var(--color-fondo-dos) !important;
}