
:root {
    --color-fondo-dos: rgba(191, 175, 175, 0.95);
    --color-letra-error: red ;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-image:url(fondo.jpg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
}
p.MensajeError {
    color: var(--color-letra-error);

}
#boton-atras {
    padding: 0px 7px 0px 0px;
}

.card {
    width: 100%;
    max-width: 450px;
    background-color: var(--color-fondo-dos) !important;
}